<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Note.js</a>
        <ul class="navbar-nav"></ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-6 offset-md-3 px-5 ">
        <form action="/files/signup" method="POST">
            <h1 class="mb-4 mt-3">Come join us</h1>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="text" id="username" name="username" class="form-control bg-light text-black"
                        placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="password" id="password" name="password" class="form-control bg-light text-black"
                        placeholder="Password">
                </div>
            </div>

            <input type="submit" value="Confirm" class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn">

        </form>
        <button class="btn btn-info btn-block btn-lg mt-3"><a class="text-light"
                href="http://localhost:8000">Cancel</a></button>
    </div>

</div>